* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-login {
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 26px rgba(68, 73, 85, 0.2);
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  width: 750px;
}

.wrapper-login {
  align-items: center;
  background-image: url('../assets/BG\ AZUL.png');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 67.29px;
  left: 50.2rem;
  position: absolute;
  top: 20.5rem;
  width: 64.1px;
}

.trybe {
  height: 41.78px;
  margin-right: 5rem;
  width: 112.84px;
}

.tunes {
  height: 29.65px;
  margin-bottom: 0.8rem;
  margin-left: 2rem;
  width: 113.71px;
}

.wrapper-form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.name-input {
  border: 1px solid #003be5;
  border-radius: 100px;
  box-sizing: border-box;
  color: #003be5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  line-height: 14px;
  margin-bottom: 0.8rem;
  text-align: center;
  top: 390px;
  width: 400px;
}

.btn-login {
  background: #003be5;
  border-radius: 100px;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 70px;
  letter-spacing: 0.03em;
  line-height: 14px;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 400px;
}

.btn-login:disabled {
  background: rgb(160, 160, 160);
  color: rgb(75, 75, 75);
  opacity: 0.6;
}

.loading-login {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: center;
  width: 50%;
}
